  <div id="wrapper">
    <div id="header"> </div>
    <div id="left">
      <div id="logo">
        
        <p>Friendship Is Magic!</p>
      </div>
      <div id="nav">
        <ul>
          
		  
		<%= link_to image_tag("http://dl.dropbox.com/u/5183262/icons/creatures.png", :border=>0), users_path %>
		<%= link_to image_tag("http://dl.dropbox.com/u/5183262/icons/dex.png", :border=>0), creatures_path %>


        </ul>
      </div>
   
    </div>
    