// Place all the styles related to the Ponies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body, h1, h2, h3, h4, ul, li {
	margin: 0;
	padding: 0;
}
h1 img {
	display: block;
}
img {
	border: 0;
}
a {
	color: #464544;
}
a:hover {
	color: #FFA405;
}
.left {
	float: left;
}
.right {
	float: right;
}
.more {
	text-align: right;
}
.clear {
	clear: both;
}

body {
	background: #E0D5B7 url(http://dl.dropbox.com/u/5183262/icons/background.png) ;
	text-align: center;
	font: 11px verdana, arial, sans-serif;
	color: #74653D;
	padding-bottom: 10px;
	padding-top: 31px;
}

/** layout **/
#wrapper {
	text-align: left;
	margin: auto;
	width: 778px;
  position: relative;

}

#header {
  position: absolute;
  top: 0;
  left: 1px;
  width: 800px;
  height: 279px;
  background: url(http://dl.dropbox.com/u/5183262/icons/logo2.png) no-repeat;

}
#left {
  float: left;
  width: 243px;
}
#logo {
  width: 244px;
  height: 100px;

  text-align: center;
  padding-left: 20px;
  color: #f062b8;
}
#logo h1 {
  padding-top: 30px;
  font: 24px "arial narrow", arial, sans-serif;
}
#logo p {
  margin: 8px 25px 4px 25px;
  border-top: 1px solid #B8B8B8;
  border-bottom: 1px solid #B8B8B8;
  padding: 3px;
  letter-spacing: 0.2em;
  font-weight: bold;
}

#nav {

  background: url(http://dl.dropbox.com/u/5183262/icons/leftbar2.png) no-repeat;

}
#nav ul {
  margin-left: 1px;
  padding-left: 20px;
  
  padding-bottom: 700px;
  padding-top: 120px

}
#nav li {
  list-style: none;

  border-top: 1px;

 
}
#nav a {
  color: #fff;
  text-decoration: none;
  border-left: 1px ;
  padding-left: 10px;
 
  width: 50%;
  padding: 2px 0 6px 8px;
}
#nav a:hover {

}
#nav .important {
  border: none;

}
#nav .important a {
  
}



#support {
  background: url(images/support.jpg) no-repeat;
  padding: 1px;
  height: 97px;
  color: #1A1A18;
}
#support p {
  margin: 0.7em 2.6em;
}

#right {
  float: right;
  width: 400px;
  padding-right: 9px;
  padding-top: 300px;
}
#right h2 {
  font: 18px arial, sans-serif;
  color: #BE8B06;
  border-bottom: 1px solid #C4AE7C;
  padding-bottom: 6px;
  margin-bottom: 1em;
}
#right h3 {
  font: 14px arial, sans-serif;
  color: #BE8B06;
  border-bottom: 1px solid #C4AE7C;
  padding-bottom: 6px;
  margin-bottom: 1em;
  margin-top: 2em;
}
#welcome {
  margin-right: 20px;
}
#profile {
  margin-right: 16px;
}
#right .left {
  margin-right: 18px;
}
#right .more {
  font-weight: bold;
  font-size: 10px;
}

#corp, #indu {
  float: left;
  width: 49%;
}
#corp {
  margin-right: 1%;
}
#corp-img, #indu-img {
  background: url(images/pic_2.jpg) no-repeat;
  width: 112px;
  height: 23px;
  float: left;
  margin-right: 18px;
  text-align: center;
  padding-top: 90px;
  font-size: 9px;
  font-weight: bold;
}
#indu-img {
  background: url(images/pic_3.jpg) no-repeat;
}
#spacer {
  height: 2em;
}

#footer {
  background: url(images/footer_bg.gif) repeat-y;
}
#copyright {
  text-align: center;
  padding: 22px 0px 30px 00px;
  font-size: 9px;
  color: #715F36;
  font-weight: bold;
}
#footerline{
	background: url(images/footerline.gif) no-repeat;
	height:10px;
	margin-top:0px;
	display:block;
	font-size:1px;
}